.users-title {
  font-size: 2rem;
  margin-top: 60px;
}
.users-main {
  margin-top: 30px;
}
.users-table {
  background-color: var(--white);
  margin-top: 20px;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.users-table-heading-tr {
  margin-top: 10px;
}
.users-table-heading-tr,
.users-table-body-tr {
  display: grid;
  grid-template-columns: 140px 150px 100px 150px 100px 300px;
  column-gap: 10px;
  text-align: center;
  align-items: center;
  padding: 20px 40px 10px 40px;
}
.users-table-body-tr button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  color: var(--white);
  width: 80px;
  padding: 10px 20px;
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.users-table-body-tr button:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}
.users-table-body-th {
  padding: 10px;
}
.users-table-body-td {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
.edit-products-form-group {
  margin-top: 8px;
}
.edit-product-input {
  padding: 5px !important;
}
