@import "./reset.css";

@font-face {
  font-family: lalehzar;
  src: url(./fonts/Lalezar-Regular.ttf) format("ttf");
}
:root {
  --white: #ffffff;
  --white-50: #f0f0f0;
  --blue: #471aaa;
  --blue-50: #220d4e;
}
body {
  background-color: var(--white-50);
}
*,
body,
html {
  font-family: lalezar;
}
